<button class="btn btn-lg btn-outline-primary" (click)="addTask()">Add</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <th scope="row">{{ task.id }}</th>
      <td>{{ task.name }}</td>
      <td>{{ task.designation }}</td>
      <td>{{ task.status }}</td>
      <td>
        <button type="button" (click)="editTask(task)" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>