<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" routerLink="">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-wrench"></i>
          <span class="nav-link-text">Self Service</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseComponents">
          <li>
            <a routerLink="selfservice/personaldetails">Personal Detail</a>
          </li>
          <li>
            <a routerLink="selfservice/dependentdetails">Dependent Detail</a>
          </li>
          <li>
            <a routerLink="selfservice/academicdetails">Academic Detail</a>
          </li>
          <li>
            <a routerLink="selfservice/trainingdetails">Training Detail</a>
          </li>
          <li>
            <a routerLink="selfservice/workexperience">Work Experience</a>
          </li>
          <li>
            <a routerLink="selfservice/jobdetails">Job Detail</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
        <a class="nav-link" routerLink="attendance">
          <i class="fa fa-fw fa-area-chart"></i>
          <span class="nav-link-text">Attendance</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" routerLink="leave">
          <i class="fa fa-fw fa-table"></i>
          <span class="nav-link-text">Leave</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" routerLink="document">
          <i class="fa fa-fw fa-table"></i>
          <span class="nav-link-text">Document</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" routerLink="tasks">
          <i class="fa fa-fw fa-table"></i>
          <span class="nav-link-text">Tasks</span>
        </a>
      </li>
      
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>